.header {
    display: flex;
    width: 400px;
    height: 600px;
    
}

.header__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 15rem;

    
}

.header__content h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 120%;
    margin-bottom: 3rem;

    color: rgba(255, 255, 255, 0.5);
}

.header__content p{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 180%;
    width: 500px;
    height: 75px;
    color: rgba(255, 255, 255, 0.5);
}

.header__content h4{
    font-family: var(--account);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 180%;
    width: 500px;
    height: 120px;
    color: var(--color-subtext);
}

.header__buttons {
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    align-items: center;
    padding: 10px 20px;
    width: 117px;
    height: 50px;

}




.header__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__image img{
    width: 520px;
    height: 500px;
}