.brands {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
}

.brands div {
    flex: 1;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.brands img {
    width: 200px;
    height: 75px;
}